body {
  background-color: #e3fdfd;
}

hr {
  background-color: #e3fdfd;
  border-style: none;
  border-top: 10px dotted grey;
  width: 10%;
  size: 3;
}

img {
  height: 200px
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

a:hover {
  background-color: yellow;
}

a:visited {
  color: blue;
}

a:active {
  color: red;
}
